nav#nav {
	display: none;
}

.pan {
	font-size: 5rem;
}

body {
	padding-top: 0;
}

#top {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.wrapper {
	padding-bottom: 5rem;
}

.mc-field-group {
	margin-top: 1rem;
}

.email-sub-button {
	margin-top: 1rem;
	width: 200px !important;
}